<div id="body" class="home">
    <div>

        <div>

            <h2><a>POZORISTA</a></h2>

            <h3> <a>PRVO POZORISTE</a></h3>
            <p>
                Test opisa : mnogo dobro
            </p>
            <a href="movies.html">Read More</a>
        </div>

    </div>
    <div>
        <div>
            <h2><a>BIOSKOPI</a></h2>
            <h3> <a>PRVI BIOSKOP</a></h3>
            <p>

            </p>

            <a href="movies.html">Read More</a>
        </div>

    </div>
</div>