<div>
    <form>
        <span>
            <br><p style="color:red">{{message}}</p><br>
        </span>
        <table>
        	
            <tr>
                <td style="color:white; width:100px">Username:</td>
                <td><input type="text" id="username" name="username" ng-model="username"></td>
            </tr>

            <tr>
                <td style="color:white; width:100px">Password:</td>
                <td><input type="password" id="pass" name="pass" ng-model="pass"></td>
            </tr>

            <tr>
            	   <td></td>
                <td style="width:100px; text-align:center"><button ng-click="indexFunc()">Back</button>
               <button ng-click="prijavaFunc(username, pass)">Login</button></td>
               
            
            </tr>
            <tr><td><p></p></td></tr>
            <tr>
                <td colspan="2" style="color:white; text-align:left"><br>Don't have an Account? <a ng-href="#!/register">Register here</a></td>
            </tr>

        </table>
    </form>

    <div id="fb-root"></div>

    <div class="fb-login-button" onlogin="window.location='http://localhost:8096/index.html'" data-width="100" data-max-rows="2" data-size="medium" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="false" data-use-continue-as="false"></div>
</div>
