<div id="body" class="rentals">
<h3 class="headerrr">SYS ADMIN MODE</h3>
<table width="100%">
	<tr>
		<td width="50%" rowspan='2'>
			<div id="body" class="rentals" >
				<h2>ADDING THEATRE/CINEMA</h2>
				<table class="fanZona" width='100%'>
					<tr height='20px'>
						<th colspan='2'></th>
					</tr>
					<tr>
						<th width='30%'>Name:</th>
						<td width='70%'><input type='text' ng-model="tc.naziv" size="30"/></td>
					</tr>
					<tr>
						<th>Description:</th>
						<td><textarea ng-model="tc.opis" rows='5' size='30'></textarea></td>
					</tr>
					<tr>
						<th>Address:</th>
						<td><input type='text' ng-model="tc.adresa" size="30"></textarea></td>
					</tr>
					<tr>
						<th>Type:</th>
						<td><select data-ng-options="t for t in type_options" data-ng-model="tc.tipUstanove"></select></td>
					</tr>
					<tr>
						<th>URL to GoogleMap:</th>
						<td><input type="url" ng-model="tc.mapa" size="40" ng-change="amc.addSufix()"></textarea></td>
					</tr>
					<tr>
						<td colspan='2'> <iframe ng-src="{{trustSrc(tc.mapaDone)}}"
                         width="420" height="150" frameborder="1" style="border:1" allowfullscreen></iframe></td>
					</tr>
					<tr height='10px'>
						<th colspan='2'></th>
					</tr>
					<tr>
						<th></th>
						<td><button ng-click="amc.addTC()">Add it</button></td>
					</tr>
					<tr class="secretMessage">
						<td></td>
						<td ng-show="tcshowDone">Done succesfully</td>
						<td ng-show="tcshowSthWentWrong">Something went wrong!</td>
						<td ng-show="tcblankField">{{tcemptyField}} is neccesery to be added!</td>
					</tr>
				</table>
			</div>
		</td>
		<td width="50%">
			<div id="body" class="rentals">
				<h2>ADDING ADMIN</h2>
				<table class="fanZona" width='100%'>		
					<tr>
						<th width='20%'>UserName:</th>
						<td width='80%'><input type='text' ng-model="adm.username"/></td>
					</tr>
					<tr>
						<th width='20%'>EMail:</th>
						<td width='80%'><input type="email" ng-model="adm.email"/></td>
					</tr>
					<tr>
						<th>Type:</th>
						<td><select data-ng-options="t for t in admType_options" data-ng-model="adm.tipAdmina"></select></td>
					</tr>			
					<tr>
						<th>Responsible for:</th>
						<td>
							<div ng-repeat="p in pb">
								  <input type="checkbox" id='checkbox' ng-click="amc.addToList(p.id)"/> {{p.naziv}} - {{p.adresa}}
							</div>
						</td>
					</tr>
					<tr height='10px'>
						<th colspan='2'></th>
					</tr>
					<tr>
						<th></th>
						<td><button ng-click="amc.addAdmin()">Add Admin</button></td>
					</tr>
					<tr class="secretMessage">
						<td></td>
						<td ng-show="ashowDone">Admin created succesfully</td>
						<td ng-show="ashowSthWentWrong">Something went wrong! Admin is not added</td>
						<td ng-show="ablankField">{{aemptyField}} is neccesery to be added!</td>
					</tr>
				</table>
			</div>
		</td>		
	</tr>
	<tr>		
		<td width="50%" claspan='2'>		
			<div id="body" class="rentals">
				<h2>EDITING TRESHOLD SYSTEM</h2>
				<table class="fanZona" width='100%'>
					<tr width='100%'>
						<td width='33%'>GOLD Treshold: <input type='text' ng-model="bs.goldTreshold" size="15"/><br/>
							Discount: <input type='text' ng-model="bs.goldPopust" size="2" maxlength="2"/> %
						</td>
						<td width='33%'>SILVER Treshold: <input type='text' ng-model="bs.silverTreshold" size="15"/><br/>
							Discount: <input type='text' ng-model="bs.silverPopust" size="2" maxlength="2"/> %
						</td>
						<td width='33%'>BRONZE Treshold: <input type='text' ng-model="bs.bronzeTreshold" size="15"/><br/>
							Discount: <input type='text' ng-model="bs.bronzePopust" size="2" maxlength="2"/> %
						</td>
					</tr>					
					<tr height='10px'>
						<th colspan='3'></th>
					</tr>
					<tr>
						<th></th>
						<td ><button ng-click="amc.editTreshhold()">Save Changes</button></td>
						<th></th>
					</tr>
					<tr class="secretMessage">
						<th></th>
						<td ng-show="tshowDone" >Changes saved succesfully</td>
						<td ng-show="tshowSthWentWrong" >Something went wrong! Change is not changed</td>
						<td ng-show="tblankField">{{temptyField}} is neccesery to be added(as integer)!</td>
						<th></th>
					</tr>
				</table>
			</div>			
		</td> 
		
	</tr>
</table>
	