


<div>
    <ul>
        <li>
            <ul class="adminControll">

                <li class="goreDole">

                    <a  ng-click="pickPozoriste()">THEATRE</a>

                </li>
                <li class="goreDole">

                    <a ng-click="pickBioskop()">CINEMA</a>

                </li>
                <li class="goreDole">

                    <a  ng-click="pickSala(false)">AUDITORIUM</a>

                </li>
                <li class="goreDole">

                    <a  ng-click="pickSedista()">SEATS</a>

                </li>
                <li class="goreDole">

                    <a  ng-click="pickDogadjaj()">EVENTS</a>

                </li>
                <li class="goreDole">

                    <a  ng-click="pickProjekcija()">PROJECTIONS</a>

                </li>
                <li class="goreDole">

                    <a  ng-click="pickKarta()">TICKETS</a>

                </li>

            </ul>
        </li>





        <span ng-if="dogadjaj">
        <li>

            <ul class="forma">

                <li class="desno">
                    <a>  Event in : </a>
                </li>

                <li class="desno">
                    <a>  Name : </a>
                </li>
                <li class="desnoDebeli">
                    <a>  Descritpion : </a>
                </li>
                 <li class="desno">
                    <a>Genre :</a>
                </li>

                <li class="desno">
                    <a>Director :</a>
                </li>

                <li class="desno">
                    <a>Duration :</a>
                </li>

                <li class="desno">
                    <a>Points :</a>
                </li>

                <li class="desno">
                    <a>Actors :</a>
                </li>

                <li class="desnoDebeli" ng-if="dogadjajEdit">
                    <a>Poster :</a>
                </li>

                  <li class="last" ng-if="dogadjajEdit">
                        <button  class="button" type="submit" ng-click="addProjection(bp.id,dogadjajId,newDogadjaName )"> Add Projection </button>
                  </li>




            </ul>
        </li>

        <li>
            <ul class="formaUnos">

                 <li class="unos">
                   <a class="input"> {{bpName}} </a>
                </li>

                <li class="unos">
                    <input class="input"  type="text" ng-model="newDogadjaName" class="form-control" id="newDogadjaName">
                </li>
                <li class="unosDebeli">
                    <textarea class="inputDebeli"  ng-model="newDogadjajOpis" rows="3" cols="20" id="newDogadjajOpis"> </textarea>
                </li>

                <li class="unos">
                    <select class="input" type="text"ng-model="newDogadjajZanr" ng-options="item for item in zanr" id="newDogadjajZanr"></select>
                </li>

                <li class="unos">
                    <input class="input" type="text" ng-model="newDogadjajReziser" class="form-control" id="newDogadjajReziser">
                </li>

                <li class="unos">
                    <input class="input" type="text" ng-model="newDogadjajTrajanje" class="form-control" id="newDogadjajTrajanje">
                </li>

                 <li class="unos">
                    <input class="input" type="text" ng-model="newDogadjajBodovi" class="form-control" id="newDogadjajBodovi">
                </li>

                 <li class="unos">
                    <input class="input" type="text" ng-model="newDogadjajGlumci" class="form-control" id="newDogadjajGlumci">
                </li>


                <li class="bigImage" ng-if="dogadjajEdit">
                    <img class="bigImageData" ng-src="/download/{{dogadjaSlika}}" width="200" height="200">
                </li>


	                <input type="file" file-upload="myFile" accept=".jpg,.png">


                <li class="last">
                     <button  class="button" type="submit" ng-click="addNewEvent(newDogadjaName, newDogadjajOpis,newDogadjajZanr, newDogadjajReziser,newDogadjajTrajanje,newDogadjajBodovi,newDogadjajGlumci, bpId, dogadjajEdit)"> Save </button>
                </li>

            </ul>
        </li>

        </span>

        <span ng-if="projekcija">
            <li>
                <ul class="forma">
                    <li class="desno">
                        <a>  Projection in : </a>
                    </li>
                     <li class="desno">
                        <a>  Price : </a>
                    </li>
                     <li class="desnoDebeli">
                        <a>  Date and Time : </a>
                    </li>

                </ul>

            </li>

            <li>
                <ul>
                    <li class="unos">
                        <a class="input"> {{dogadjajNaziv}} </a>
                    </li>

                    <li class="unos">
                        <input class="input"  type="text" ng-model="newProjekcijaCena" class="form-control" id="newProjekcijaCena">
                    </li>

                    <li class="unos">
                        <input class="input"  type="text" ng-model="newProjekcijaCena" class="form-control" id="newProjekcijaSala">
                    </li>

                    <li class="unosDebeli">

                    </li>

                </ul>

            </li>

        </span>


        <span ng-if="pozoriste">
            <li>
                 <ul class="forma" ng-repeat="pozoriste in pozoristaAdmin track by $index">
                    <li class="desno">
                        <a class="pointer" ng-click="pickBpOne(pozoriste.id)">{{pozoriste.naziv}} </a>
                    </li>

                     <li class="desno">
                        <a>{{pozoriste.adresa}} </a>
                    </li>

                 </ul>

            </li>

        </span>


        <span ng-if="allDogadjaji">

             <li>
                <ul class="forma">
                     <li class="desno">
                         <a>  All events in : </a>
                     </li>
                </ul>
             </li>


            <li>
                <ul class="formaUnos" >
                    <li class="unos">
                         <a class="input"> {{bpName}} </a>
                    </li>


                     <li class="unos" ng-repeat="dogadjaj in bpDogadjaj">


                         <button type="submit" class="delete" class="btn btn-primary"  ng-confirm-click="Are you sure to delete this Event ?" confirmed-click="deleteDogadjaj(dogadjaj.id, bp.id)" >
					        <img class="clearDelete" src="../../../assets/images/trash.png" width="20" height="20" title="Delete" alt="submit" />
				        </button>

                        <a class="pointer" ng-click="editDogadjaj(dogadjaj.id, bp.naziv, bp.id)">{{dogadjaj.naziv}} </a>



                    </li>
                </ul>
            </li>


        </span>

        <span ng-if="bioskop">
            <li>
                 <ul class="forma" ng-repeat="bioskop in bioskopiAdmin track by $index">
                    <li class="desno">
                        <a class="pointer" ng-click="pickBpOne(bioskop.id)">{{bioskop.naziv}} </a>
                    </li>

                     <li class="desno">
                        <a>{{bioskop.adresa}} </a>
                    </li>

                 </ul>

            </li>

        </span>


        <span ng-if="bpOne">

            <li>
                <ul class="forma">
                    <li class="desno">
                        <a>  Name : </a>
                    </li>

                    <li class="desnoDebeli">
                        <a>Description :</a>
                    </li>

                    <li class="desno">
                        <a>  Address : </a>
                    </li>

                     <li class="desnoDebeli">
                        <a>  Google maps url : </a>
                    </li>

                    <li class="desno">
                        <a>  Auditoriums : </a>
                    </li>


                    <li class="last">
                        </br>
                    </li>

                    <li class="last">
                        <button  class="button" type="submit" ng-click="pickAllDogadjaji(bp.id, bp.naziv)"> Events </button>
                    </li>

                     <li class="last">
                        </br>
                    </li>

                    <li class="last">
                        <button  class="button" type="submit" ng-click="editChange()"> Toggle edit </button>
                    </li>

                    <li class="last">
                        </br>
                    </li>

                       <li class="last">
                        <button  class="button" type="submit" ng-click="saveBP(bp)"> Save edit </button>
                    </li>
                </ul>
            </li>

            <li>
                <ul class="formaUnos" >
                    <li class="unos">
                        <input class="input" type="text" ng-model="bp.naziv" ng-readonly="edit" class="form-control" >
                    </li>
                    <li class="unosDebeli">
                        <textarea class="inputDebeli"  ng-model="bp.opis" rows="3" cols="20" ng-readonly="edit"> </textarea>
                    </li>

                    <li class="unos">
                         <input class="input" type="text" ng-model="bp.adresa" ng-readonly="edit" class="form-control" >
                    </li>

                     <li class="unosDebeli">
                         <textarea class="inputDebeli"  ng-model="bp.urlMape" rows="3" cols="20" ng-readonly="edit"> </textarea>
                    </li>


                    <li class="unos" ng-repeat="sala in bpSale">

                         <button type="submit" class="delete" class="btn btn-primary"  ng-confirm-click="Are you sure to delete this Auditorium ?" confirmed-click="deleteSala(sala.id, bp.id)" >
					        <img class="clearDelete" src="../../../assets/images/trash.png" width="20" height="20" title="Delete" alt="submit" />
				        </button>

                        <a class="pointer" ng-click="editSala(sala.id, bp.naziv, bp.id)">{{sala.ime}} </a>

                    </li>

                      <li class="last">
                        </br>
                    </li>


                    <li class="last">
                        <button  class="buttonDebeli" type="submit" ng-click="addSala(bp.id, bp.naziv)"> Add Auditorium </button>
                    </li>
                    <li class="last">
                        </br>
                    </li>

                    <li class="last">
                        <button  class="buttonDebeli" type="submit" ng-click="addDogadjaj(bp.id, bp.naziv)"> Add  Event</button>
                    </li>

                 </ul>
            </li>
        </span>



        <span ng-if="sala">
        <li>

            <ul class="forma">

                <li class="desno">
                    <a>  Adding auditorium to : </a>
                </li>

                <li class="desno">
                    <a>  Name: </a>
                </li>
                <li class="desno">
                    <a>  Number of rows : </a>
                </li>

                <li class="desno">
                    <a>Number of seats per row :</a>
                </li>

                <li class="desno">
                    <a>Type of seat :</a>
                </li>

            </ul>
        </li>

        <li>
            <ul class="formaUnos">

                 <li class="unos">
                   <a class="input"> {{bpName}} </a>
                </li>

                <li class="unos">
                    <input class="input"  type="text" ng-model="newSalaName" class="form-control" id="newSalaName">
                </li>
                <li class="unos">
                    <input class="input"  ng-change="drawGrid(newSalaBR, newSalaBS)" type="text" ng-model="newSalaBR" class="form-control" id="newSalaBR">
                </li>

                <li class="unos">
                    <input class="input"  ng-change="drawGrid(newSalaBR, newSalaBS)" type="text" ng-model="newSalaBS" class="form-control" id="newSalaBS">
                </li>

                  <li class="unos">
                    <select class="input" type="text"ng-model="newSalaTipSedista" ng-options="itemz for itemz in tipSedista" id="newSalaTipSedista"></select>
                </li>





                <div class="scrollmenu">
                    <table ng-if="showGrid"  >


                        <tbody  >
                         <tr >

                            <td ng-repeat="items3 in duzina track by $index">
                                <a ng-if="$index==0">
                                    Seat :
                                </a>
                                <a ng-if="$index!=0">
                                    {{$index-1}}
                                </a>

                            </td>
                         </tr>
                             <tr  ng-repeat="items2 in split_items track by $index">
                                <li  class="unos"  >
                                 <td>Row {{$index}} : </td>
                                <td ng-repeat="i in items2 track by $index" ng-mousedown="mouseSelect(i, $event, true, newSalaTipSedista)" ng-mouseup="mouseSelect(i, $event, false, newSalaTipSedista)">
                                    <div class="clear" id="{{i.id}}">
                                        <input  type="checkbox" id="cb-{{::$id}}-{{i.id}}" class="k-checkbox" ng-model="i.checked" ng-click="select(i, $event, newSalaTipSedista)" />
                                    </div>
                                </td>
                            </li>
                             </tr>
                        </tbody>

                    </table>
                </div>

                <li class="last">
                     <button   class="button" type="submit"  ng-click="saveSala( newSalaName, newSalaBR, newSalaBS, editOneSala )"> Save </button>
                </li>
                <li class="unos">
                     <a class="hint">Use SHIFT click to select multiple seats at once</a>
                </li>



            </ul>
        </li>

        </span>











    </ul>

</div>