


<div>

    <ul>
        <li>
            <ul class="adminControll">

                <li class="goreDole">

                    <a>POZORISTA</a>

                </li>
                <li class="goreDole">

                    <a>BIOSKOPI</a>

                </li>
                <li class="goreDole">

                    <a>SALE</a>

                </li>
                <li class="goreDole">

                    <a>SEDISTA</a>

                </li>
                <li class="goreDole">

                    <a>DOGADJAJI</a>

                </li>
                <li class="goreDole">

                    <a>PROJEKCIJE</a>

                </li>
                <li class="goreDole">

                    <a>KARTE</a>

                </li>

            </ul>
        </li>


        <li>

            <ul class="forma">
                <li class="desno">
                    <a>  Naziv: </a>
                </li>
                <li class="desno">
                    <a>  Broj redova : </a>
                </li>

                <li class="desno">
                    <a>Broj sedista po redu :</a>
                </li>

            </ul>
        </li>

        <li>
            <ul class="formaUnos">
                <li class="unos">
                    <input class="input"  type="text" ng-model="newSalaName" class="form-control" id="newSalaName">
                </li>
                <li class="unos">
                    <input class="input" type="text" ng-model="newSalaBR" class="form-control" id="newSalaBR">
                </li>

                <li class="unos">
                    <input class="input" type="text" ng-model="newSalaBS" class="form-control" id="newSalaBS">
                </li>

                <li class="last">
                     <button  class="button" type="submit" class="btn btn-primary"> Add </button>
                </li>

            </ul>
        </li>



    </ul>

</div>