


<div>
    <ul>
        <li>
            <ul class="adminControll">

                <li class="goreDole">

                    <a>THEATRE</a>

                </li>
                <li class="goreDole">

                    <a>CINEMA</a>

                </li>
                <li class="goreDole">

                    <a>AUDITORIUM</a>

                </li>
                <li class="goreDole">

                    <a>SEATS</a>

                </li>
                <li class="goreDole">

                    <a>EVENTS</a>

                </li>
                <li class="goreDole">

                    <a>PROJECTIONS</a>

                </li>
                <li class="goreDole">

                    <a>TICKETS</a>

                </li>

            </ul>
        </li>


        <span ng-if="sala">
        <li>

            <ul class="forma">
                <li class="desno">
                    <a>  Name: </a>
                </li>
                <li class="desno">
                    <a>  Number of rows : </a>
                </li>

                <li class="desno">
                    <a>Number of seats per row :</a>
                </li>

            </ul>
        </li>

        <li>
            <ul class="formaUnos">
                <li class="unos">
                    <input class="input"  type="text" ng-model="newSalaName" class="form-control" id="newSalaName">
                </li>
                <li class="unos">
                    <input class="input" type="text" ng-model="newSalaBR" class="form-control" id="newSalaBR">
                </li>

                <li class="unos">
                    <input class="input" type="text" ng-model="newSalaBS" class="form-control" id="newSalaBS">
                </li>

                <li class="last">
                     <button  class="button" type="submit" class="btn btn-primary"> Add </button>
                </li>

            </ul>
        </li>

        </span>


        <span ng-if="dogadjaj">
        <li>

            <ul class="forma">
                <li class="desno">
                    <a>  Name : </a>
                </li>
                <li class="desno">
                    <a>  Descritpion : </a>
                </li>
                 <li class="desno">
                    <a>Genre :</a>
                </li>

                <li class="desno">
                    <a>Director :</a>
                </li>

                <li class="desno">
                    <a>Duration :</a>
                </li>

                <li class="desno">
                    <a>Points :</a>
                </li>

                <li class="desno">
                    <a>Actors :</a>
                </li>



            </ul>
        </li>

        <li>
            <ul class="formaUnos">
                <li class="unos">
                    <input class="input"  type="text" ng-model="newDogadjaName" class="form-control" id="newDogadjaName">
                </li>
                <li class="unosDebeli">
                    <input class="inputDebeli" type="text" ng-model="newDogadjajOpis" class="form-control" id="newDogadjajOpis">
                </li>

                <li class="unos">
                    <select class="input" type="text"ng-model="newDogadjaZanr" ng-options="item for item in zanr" id="newDogadjajZanr"></select>
                </li>

                <li class="unos">
                    <input class="input" type="text" ng-model="newDogadjajReziser" class="form-control" id="newDogadjajReziser">
                </li>

                <li class="unos">
                    <input class="input" type="text" ng-model="newDogadjajTrajanje" class="form-control" id="newDogadjajTrajanje">
                </li>

                 <li class="unos">
                    <input class="input" type="text" ng-model="newDogadjajBodovi" class="form-control" id="newDogadjajBodovi">
                </li>

                 <li class="unos">
                    <input class="input" type="text" ng-model="newDogadjajGlumci" class="form-control" id="newDogadjajGlumci">
                </li>

                <li class="last">
                     <button  class="button" type="submit" ng-click="addNewEvent(newDogadjaName, newDogadjajOpis,newDogadjaZanr, newDogadjajReziser,newDogadjajTrajanje,newDogadjajBodovi,newDogadjajGlumci )"> Add </button>
                </li>

            </ul>
        </li>

        </span>










    </ul>

</div>