<h3 class="headerrr">ITEMS FOR SALE</h3>
<table width='100%'>
	<tr >
		<td width='100%'>
			<div id="body" class="rentals">
				<h2>ADD ITEM FOR SALE</h2>
				<table class="fanZona" width='100%'>
					<tr height='20px'>
						<th width='40%'>Title:       <input type='text' ng-model="it.naziv" size='24'/><br/><br/>
										Description: <textarea ng-model="it.opis" rows='5' columns='20'></textarea><br/><br/>
						</th>
						<th width='60%'>Sale finishes on:  <input type="date" ng-model="it.datum" placeholder="yyyy-MM-dd" min="{{today}}"><br/><br/><br/>
							Photo:            <input type="file" demo-file-model="it.slika" accept=".jpg, .png"/><br/><br/>
							<span/><br/>
							<button ng-click="oc.add()">   Sell it   </button><br/><br/>
							<div class="secretMessage"  ng-show="ashowDone">Item added succesfully</div>
							<div class="secretMessage" ng-show="ashowSthWentWrong">Something went wrong! Item is not added</div>
							<div class="secretMessage" ng-show="ablankField">{{aemptyField}} is neccesery to be added!</div>
						</th>
					</tr>
				</table>
			</div>
		</td>
	</tr>
</table>

<div id="body" class="rentals" ng-show="preview.length">
	<h2>PREVIEW</h2>
	<table class="fanZona">
		<tr ng-repeat="item in preview">
			<td width='30%'><img class ='itemImage' src="((item.slika}}" alt=""></td>
			<td width='70%'>
				<div>
					<table class='itemTable'>
							<tr>
								<td colspan='2' class='itemTitle'>{{item.naziv}}</td>
							</tr>
							<tr>
								<td colspan='2'>{{item.opis}}</td>
							</tr>
							<tr>
								<td><h4>Active until:</h4></td>
								<td>{{item.kraj}}</td>
							</tr>			
					</table>
				</div>
			</td>
		</tr>		
	</table>
</div>
<div id="body" class="rentals">
	<h2>ITEMS FOR SALE</h2>
	<table class="fanZona" width='100%'>
		<tr ng-repeat="item in items">
			<td width='30%'><img class ='itemImage' src="{{item.slika}}" alt=""></td>
			<td width='70%'>
				<div>
					<table class='itemTable' width='100%'>
							<tr>
								<td colspan='2' class='itemTitle'>{{item.naziv}}</td>
							</tr>
							<tr>
								<td colspan='2'>{{item.opis}}</td>
							</tr>
							<tr>
								<td width='50%'><h4>Active until:</h4></td>
							 	<td width='50%'>{{item.kraj}}</td>
							</tr>
							<tr>
								<td></td>
								<td> </td>
							</tr>
							<tr ng-hide="item.hasOffered"	>
								<td>My offer:</td>
								<td><input type='text' ng-model="item.cena" size='5'/> RSD <button ng-click="oc.makeOffer(item)">make an offer</button></td>
							</tr>	
							<tr ng-show="item.hasOffered"	>
								<td>My offer:</td>
								<td>{{item.suma}} RSD</td>
							</tr>								
							<tr>
								<td></td>
								<td> </td>
							</tr>
							<tr ng-show="item.hasOffered"	>
								<td>Make new offer:</td>
								<td><input type='text' ng-model="item.novaPonuda" size='5'/> RSD <br/><br/><button ng-click="oc.makeNewOffer(item)">make new offer</button></td>
							</tr>	
							<tr ng-show="item.showDone" class='secretMessage'>
								<td></td>
								<td><h4>Your offer is accepted!</h4></td>
							</tr>			
							<tr ng-show="item.showSthWentWrong" class='secretMessage'>
								<td></td>
								<td><h4>Something went wrong</h4></td>
							</tr>				
					</table>
				</div>
			</td>
		</tr>		
	</table>
</div>
