<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <title>Cinema Theater Website</title>
    <link rel="icon" href="assets/images/logo1.png">

</head>
<body ng-app="app">

	<script src="angular.js"></script>
    <!-- <div ng-controller="headerCtrl">
       <ui-view></ui-view>
        <button>Pozorista</button>
        <button>Bioskopi</button>
        <button ng-click="loginFunc()" ng-hide="loggedIn">Prijava</button>
        <button ng-hide="loggedIn">Registracija</button>
        <button ng-click="fbLogoutUser()" ng-show="loggedIn">Odjava</button>
    </div> -->
	<div>
	
	
	
	
		<ui-view>
		
		</ui-view>	
		
		
		
		
	</div>

   <!--  <script src="mainScript.js"></script> -->
    
    <script src="app.module.js"></script>
    <script src="app.route.js"></script>
    <script src="jquery.js"></script>
    <script src="angular-ui-router.js"></script>
    <script src="ng-resource.js"></script>   
	<script src="angular-cookies.js"></script>
	<script src="directive.js"></script>
	

    <script src="app/components/core/core.controller.js"></script>
    <script src="app/components/home/home.controller.js"></script>
    <script src="app/components/fanZone/fanZone.controller.js"></script>
    <script src="app/components/login/login.controller.js"></script>
	<script src="app/components/register/register.controller.js"></script>
    <script src="app/components/admin/admin.controller.js"></script>
    <script src="app/components/adminIzvestaj/izvestaj.controller.js"></script>
    <script src="app/components/adminOneClick/adminOneClick.controller.js"></script>
    <script src="app/components/userOneClick/userOneClick.controller.js"></script>
    <script src="app/components/admin/fileUploadDirecrtive.js"></script>
    <link rel="stylesheet" href="assets/css/angularjs-datetime-picker.css" />
    <script src="assets/css/angularjs-datetime-picker.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.src.js"></script>
    <!--script src="https://rawgithub.com/pablojim/highcharts-ng/master/src/highcharts-ng.js">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" -->
    <script src="assets/css/highcharts-ng.css"></script>
    <script src="assets/css/highcharts-ng.js"></script>
    <script src="app/components/adminLogin/adminLogin.controller.js"></script>
	<script src="app/components/settings/settings.controller.js"></script>
    <script src="app/components/regKorHome/regKorHome.controller.js"></script>
	<script src="app/components/adminMode/adminMode.controller.js"></script>
	<script src="app/components/addAdmins/addAdmins.controller.js"></script>
    <script src="app/components/pozoristeBioskop/pozoristeBioskop.controller.js"></script>
    <script src="app/components/projekcija/projekcija.controller.js"></script>
    <script src="app/components/reservation/reservation.controller.js"></script>
    <script src="app/components/oglasi/oglasi.controller.js"></script>
    <script src="app/components/friends/friends.controller.js"></script>
    <script src="app/components/allReservations/allReservations.controller.js"></script>
    <script src="app/components/mojiOglasiPonude/mojiOglasiPonude.controller.js"></script>
    <script src="app/components/invitation/invitation.controller.js"></script>
	<script src="app/components/addEditItem/addEditItem.controller.js"></script>

</body>
</html>
