<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <script src="angular.js"></script>
    <script src="mainScript.js"></script>
    <title>Prijava</title>
</head>
<body>


<script>

</script>

<div ng-controller="headerCtrl">
    <form>
        <table>
            <tr>
                <td>Korisničko ime:</td>
                <td><input type="text" id="username" name="username" ng-model="username"></td>
            </tr>

            <tr>
                <td>Lozinka:</td>
                <td><input type="password" id="pass" name="pass" ng-model="pass"></td>
            </tr>

            <tr>
                <td><button ng-click="indexFunc()">Nazad</button></td>
                <td><button ng-click="prijavaFunc(username, pass)">Prijava</button></td>
            </tr>

        </table>
    </form>

    <div id="fb-root"></div>

    <div class="fb-login-button" onlogin="window.location='http://localhost:8096/index.html'" data-width="100" data-max-rows="2" data-size="medium" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="false" data-use-continue-as="false"></div>
</div>

</body>
</html>