
<div id="header">
	<div>
		<a ng-href="#!/home" id="logo"><img src="assets/images/logo.png" alt=""></a>
		<ul>
			<li class="selected">
				<a ng-href="#!/home">Home</a>
			</li>
			<li>
				<a href="movies.html">Cinema</a>
				<ul>
					<li>
						<a href="#">All cinemas</a>
					</li>
					<li>
						<a href="#">Sale Tickets</a>
					</li>
				</ul>
			</li>
			
			<li>
				<a href="theatre.html">Theatre</a>
				<ul>
					<li>
						<a href="#">All Theatres</a>
					</li>
					<li>
						<a href="#">Sale Tickets</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="about.html">Quick Reservation</a>
			</li>
			<li>
				<a href="#!/fanZone">Fan Zone</a>
				<ul>
					<li>
						<a href="#">Buy Items</a>
					</li>
					<li>
						<a href="#">Items for Sale</a>
					</li>
					<li>
						<a href="#!/addEditItem">Add/Edit Items</a>
					</li>
				</ul>
			</li>
			<li ng-hide="logged">
				<a ng-href="#!/login">Login</a>
			</li>
			<li ng-show="logged">
				<a ng-href="#!/profile">Profile</a>
				<ul>
					<li ng-show="logged">
						<a href="#!/settings">Settings</a>
					</li>
					<li ng-show="logged">
						<a href="" ng-click="logout()">Logout</a>
					</li>

				</ul>
			</li>
			
		</ul>
	</div>
</div>
<div id="body" class="home">



	<ui-view>
	
	</ui-view>
	
	
	
	
</div>
<div id="footer">
	<div>
		<div>
			<span>Just for system admins.</span>
			<span><p> <a href="#!/adminMode">Go to Admin Mode</a></p></span>
		</div>
		<div class="section">
			<span>Just for predefined system admin.</span>
			<span><p> <a href="#!/addAdmins">Add System Admins</a></p></span>
		</div>
		<div>
			<span>(for something or to delete)</span>
		</div>
		<p>
			&#169; 2023 Cinema Theatre
		</p>
		<div class="connect">
			<span>Stay Connected:</span> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a>
		</div>
	</div>
</div>
