
<div id="header">
	<div>
		<a ng-href="#!/home" id="logo"><img src="assets/images/logo.png" alt=""></a>
		<ul>
			<li class="selected" ng-hide='cc.loggedNotAdmin()'>
				<a ></a>
			</li>
			<li class="selected" ng-hide='cc.loggedNotAdmin()'>
				<a ></a>
			</li>
			<li class="selected" ng-hide='cc.loggedNotAdmin()'>
				<a ></a>
			</li>
			<li class="selected" ng-show='isAdmin'>
				<a ></a>
			</li>
			<li class="selected" ng-show='isAdmin'>
				<a ></a>
			</li>
			<li class="selected">
				<a ng-href="#!/home" ng-click="showAll()">Home</a>
			</li>
			<li ng-hide='isAdmin' >
				<a href="" ng-click="showOnlyBioskopi()">Cinema</a>
			</li>			
			<li ng-hide='isAdmin' >
				<a  href="" ng-click="showOnlyPozorista()">Theatre</a>
			</li>
			<li ng-show='cc.loggedNotAdmin()'>
				<a ui-sref="core.userOneClick({admin : 'false'})">Quick Reservation</a>
			</li>
			<li ng-show='cc.loggedNotAdmin()'>
				<a href="#!/fanZone">Fan Zone</a>
				<ul>
					<li>
						<a href="#!/fanZone">Buy Official Item</a>
					</li>
					<li>
						<a href="#!/oglasi">Items for Sale</a>
					</li>
					<li>
						<a href="#!/mojiOglasiPonude">My sales/offers</a>
					</li>
				</ul>
			</li>
			<li ng-hide="logged">
				<a ng-href="#!/login">Login</a>
			</li>
			<li ng-show="logged" style="width:100px">
				<a ng-href="#!/profile">Profile</a>
				<ul style="width:100px">
					<li ng-show="logged" style="width:100px">
						<a href="#!/settings">Settings</a>
					</li>
					<li style="width:100px" ng-show="cc.loggedNotAdmin()">
						<a href="#!/friends">Friends</a>
					</li>
					<li style="width:100px" ng-show="cc.loggedNotAdmin()">
						<a href="#!/allReservations">Reservations</a>
					</li>
					<li style="width:100px" ng-show="logged">
						<a href="" ng-click="logout()">Logout</a>
					</li>

				</ul>
				
			</li>
		</ul>
	</div>
</div>
<div id="body" class="home">



	<ui-view>
	
	</ui-view>
	
	
	
	
</div>
<div id="footer">
	<div ng-show='isAdmin'>
		<div>
			<span>Just for system admins.</span>
			<span><p> <a href="#!/adminMode">Go to Admin Mode</a></p></span>
		</div>
		<div class="section">
			<span>Just for predefined system admin.</span>
			<span><p> <a href="#!/addAdmins">Add System Admins</a></p></span>
		</div>
		<div>
			<span>Just for fanZone admins.</span>
			<span><p> <a href="#!/addEditItem">Add Items/Approve user Sales</a></p></span>
		</div>
		<p>
			&#169; 2023 Cinema Theatre
		</p>
		<div class="connect">
			<span>Stay Connected:</span> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a>
		</div>
	</div>
</div>
