<style>
h2,p   {color: white;}
</style>
<div>
    <h2 style="color:white">{{proj.dogadjaj.naziv  | uppercase }}</h2>
    <br>
    <p>Description: {{proj.dogadjaj.opis}}</p>
    <p>Director: {{proj.dogadjaj.reziser}}, Genre: {{proj.dogadjaj.zanr | lowercase}}, Length: {{proj.dogadjaj.trajanje}} min</p>
    <p>Starring: {{proj.dogadjaj.glumciStr}}</p>
    <p>Rate: {{proj.dogadjaj.prosecnaOcena}}</p>
    <p>Date: {{proj.vreme  | date:'dd.MM.yyyy'}}, Time: {{proj.vreme  | date:'HH:mm'}}</p>
    <p>Price: {{proj.cena}},00</p>
    <button ng-click="rezervisi(proj.id)">Reservation</button>
</div>