<style>
    p,a,h3,li,td{
        color:white;
    }
</style>
<div>

    <table>
        <tr>
            <td style="width:900px"><h3>All Reservations:</h3></td>
        </tr>
        <tr>
            <td style="width:900px; height:600px;">

                <div style="overflow-y: scroll; height:800px; width:100%; background-color:gray">

                    <ol style="list-style-type: none; width:100%">
                        <li ng-repeat="poz in pozivi" style="width:100%">"{{poz.rezervacija.projekcija.dogadjaj.naziv}}",
                            Date: {{poz.rezervacija.projekcija.vreme  | date:'dd.MM.yyyy'}}, Time: {{poz.rezervacija.projekcija.vreme  | date:'HH:mm'}}
                            <span>      </span>
                            <button ng-click="details(poz.rezervacija)">Details</button>
                            <span>      </span>
                            <button ng-click="accept(poz.rezervacija)" class="{{poz.rezervacija.id}}" style="display:none;">Accept</button>
                            <span>      </span>
                            <button ng-click="cancel(poz.rezervacija)">Cancel</button>
                            <br>
                            <span id="{{poz.rezervacija.id}} details" style="display:none">

                                <img ng-src="/download/{{poz.rezervacija.projekcija.dogadjaj.slika}}" style="width:100%; max-width:100px;">
                                <p>Description: {{poz.rezervacija.projekcija.dogadjaj.opis}}</p>
                                <p>Director: {{poz.rezervacija.projekcija.dogadjaj.reziser}}, Genre: {{poz.rezervacija.projekcija.dogadjaj.zanr | lowercase}}, Length: {{poz.rezervacija.projekcija.dogadjaj.trajanje}} min</p>
                                <p>Rate: {{poz.rezervacija.projekcija.dogadjaj.prosecnaOcena}}</p>
                                <p>Date: {{poz.rezervacija.projekcija.vreme  | date:'dd.MM.yyyy'}}, Time: {{poz.rezervacija.projekcija.vreme  | date:'HH:mm'}}</p>
                                <p>Place: {{salaUstanova.naziv}}, Auditorium: {{poz.rezervacija.projekcija.sala.ime}}</p>
                                <p>Price: {{poz.rezervacija.projekcija.cena}},00 RSD</p>

                                 <p>Your Seat location: Row {{poz.karta.sediste.red +1}} Number {{poz.karta.sediste.broj+1}} </p>
                                <span style="width:300px; overflow-y: scroll; overflow-x: scroll; background:gray" >

                                        <table style="background:gray">
                                            <tr ng-repeat="group in groups">
                                                <td ng-repeat="s in group">
                                                     <span >
                                                    <img height="20px" width="20px" ng-src="{{poz.karta.sediste.id==s.id && 'assets/images/kliknuto.png' || 'assets/images/slobodno.png'}}">

                                                </span>

                                                </td>

                                            </tr>
                                        </table>
                                </span>
                                <br>
                                <p ng-if="poz.ocenjeno">Your ambient rating : {{poz.ocenaAmbijenta}}</p>
                                <p ng-if="poz.ocenjeno" >Your event rating : {{poz.ocenaFilma}}</p>
                                 <jk-rating-stars ng-if="!poz.ocenjeno" rating="poz.ocenaAmbijenta" ></jk-rating-stars>
                                  <p ng-if="!poz.ocenjeno">Rate ambient</p>


                                <jk-rating-stars ng-if="!poz.ocenjeno"  rating="poz.ocenaFilma" ></jk-rating-stars>
                                <p ng-if="!poz.ocenjeno" > Rate event</p>


                                <button ng-if="!poz.ocenjeno" ng-click="rate(poz.id, poz.ocenaAmbijenta, poz.ocenaFilma)"> Save ratings </button>



                            </span>
                        </li>
                        <br>
                    </ol>
                </div>
            </td>
        </tr>
    </table>
{{updateView()}}
</div>