<style>
    p,a,h3,li,td{
        color:white;
    }
</style>
<div>

    <table>
        <tr>
            <td style="width:800px"><h3>All Reservations:</h3></td>
        </tr>
        <tr>
            <td style="width:800px; height:400px;">

                <div style="overflow-y: scroll; height:400px; width:100%; background-color:gray">

                    <ol style="list-style-type: none; width:100%">
                        <li ng-repeat="rez in rezervacije" style="width:100%">"{{rez.projekcija.dogadjaj.naziv}}",
                            Date: {{rez.projekcija.vreme  | date:'dd.MM.yyyy'}}, Time: {{rez.projekcija.vreme  | date:'HH:mm'}}
                            <span>          </span>
                            <button ng-click="details(rez)" class="{{rez.id}}">Details</button>
                            <span>          </span>
                            <button ng-click="cancel(rez)">Cancel</button>
                            <br>
                            <span id="{{rez.id}} details" style="display:none">

                                <img ng-src="/download/{{rez.projekcija.dogadjaj.slika}}" style="width:100%; max-width:100px;">
                                <p>Description: {{rez.projekcija.dogadjaj.opis}}</p>
                                <p>Director: {{rez.projekcija.dogadjaj.reziser}}, Genre: {{rez.projekcija.dogadjaj.zanr | lowercase}}, Length: {{rez.projekcija.dogadjaj.trajanje}} min</p>
                                <p>Rate: {{rez.projekcija.dogadjaj.prosecnaOcena}}</p>
                                <p>Date: {{rez.projekcija.vreme  | date:'dd.MM.yyyy'}}, Time: {{rez.projekcija.vreme  | date:'HH:mm'}}</p>
                                <p>Place: {{salaUstanova.naziv}}, Auditorium: {{rez.projekcija.sala.ime}}</p>
                                <p>Price: {{rez.projekcija.cena}},00 RSD</p>
                            </span>
                        </li>

                    </ol>
                </div>
            </td>
        </tr>
    </table>
{{updateView()}}
</div>