<style>
    p,a,h3,li,td{
        color:white;
    }
</style>
<div>

    <table>
        <tr>
            <td style="width:800px"><h3>All Reservations:</h3></td>
        </tr>
        <tr>
            <td style="width:800px; height:400px;">

                <div style="overflow-y: scroll; height:400px; width:100%; background-color:gray">

                    <ol style="list-style-type: none; width:100%">
                        <li ng-repeat="rez in rezervacije" style="width:100%">"{{rez.projekcija.dogadjaj.naziv}}",
                            Date: {{rez.projekcija.vreme  | date:'dd.MM.yyyy'}}, Time: {{rez.projekcija.vreme  | date:'HH:mm'}}
                            <span>          </span>
                            <button ng-click="details(rez)">Details</button>
                            <span>          </span>
                            <button ng-click="cancel(rez)">Cancel</button>
                        </li>

                    </ol>
                </div>
            </td>
        </tr>
    </table>
</div>