<div id="body" class="rentals">
	<h2>ITEMS</h2>
	<table class="fanZona">
		<tr ng-repeat="item in items">
			<td width='30%'><img class ='itemImage' src={{item.slika}} alt=""></td>
			<td width='70%'>
				<div>
					<table class='itemTable'>
							<tr>
								<td colspan='2' class='itemTitle'>{{item.naziv}}</td>
							</tr>
							<tr>
								<td colspan='2'>{{item.opis}}</td>
							</tr>
							<tr>
								<td width='30%'><h4>Picking up at:</h4></td>
								<td width='70%'>{{item.preuzeti.naziv}}</br>{{item.preuzeti.adresa}}</td>
							</tr>
							<tr>
								<td><h4>Price:</h4></td>
								<td>{{item.cena}} RSD</td>
							</tr>
							<tr>
								<td></td>
								<td><button ng-click="fzc.rezervisi(item.id)">book item</button></td>
							</tr>		
							<tr ng-show="item.showDone" class='secretMessage'>
								<td></td>
								<td><h4>Booking done successfully!</h4></td>
							</tr>			
							<tr ng-show="item.showSthWentWrong" class='secretMessage'>
								<td></td>
								<td><h4>Something went wrong</h4></td>
							</tr>				
					</table>
				</div>
			</td>
		</tr>		
	</table>
</div>
	