<div>
    <form>
        <table>
            <tr>
                <td style="color:white; width:150px">Username:</td>
                <td><input type="text" id="username" name="username" ng-model="username"></td>
            </tr>

            <tr>
                <td style="color:white; width:150px">New Password:</td>
                <td><input type="password" id="pass" name="pass" ng-model="pass"></td>
            </tr>
            
            <tr>
                <td style="color:white; width:150px">Confirm Password:</td>
                <td><input type="password" id="pass2" name="pass2" ng-model="pass2"></td>
            </tr>

            <tr>
            	<td></td>
                <td style="width:150px; text-align:center"><button ng-click="indexFunc()">Back</button>
               <button ng-click="prijavaFunc(username, pass, pass2)">Save</button></td>
            </tr>
        </table>
    </form>

    <div id="fb-root"></div>

    <div class="fb-login-button" onlogin="window.location='http://localhost:8096/index.html'" data-width="100" data-max-rows="2" data-size="medium" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="false" data-use-continue-as="false"></div>
</div>
