<div>
	  <br>
    <h3 style="color:white">User Information:</h3><br>
    <form>
        <table>
            <tr>
                <td style="color:white; width:150px">First Name:</td>
                <td><input type="text" id="fname" name="fname" ng-model="fname"></td>
            </tr>

            <tr>
                <td style="color:white; width:150px">Last Name:</td>
                <td><input type="text" id="lname" name="lname" ng-model="lname"></td>
            </tr>

            <tr>
                <td style="color:white; width:150px">Email:</td>
                <td><input type="text" id="email" name="email" ng-model="email"></td>
            </tr>

			<tr>
                <td style="color:white; width:150px">City:</td>
                <td><input type="text" id="city" name="city" ng-model="city"></td>
            </tr>

            <tr>
                <td style="color:white; width:150px">Phone Number:</td>
                <td><input type="text" id="phone" name="phone" ng-model="phone"></td>
            </tr>
            <br>
            <tr>
                <td style="color:white; width:150px">Change Password:</td>
                <td><input type="password" id="pass" name="pass" ng-model="pass"></td>
            </tr>

			<tr>
                <td style="color:white; width:150px">Confirm Password:</td>
                <td><input type="password" id="pass2" name="pass2" ng-model="pass2"></td>
            </tr>

            <tr>
            	<td></td>
                <td style="width:150px; text-align:center"><button ng-click="indexFunc()">Back</button>
               <button ng-click="saveFunc(fname, lname, email, city, phone, pass, pass2)">Save</button></td>
            </tr>


        </table>

    </form>
    <br>
    <h3 style="color:white" ng-hide="isAdmin">Friends:</h3><br>

    <div style=" width:600px" ng-hide="isAdmin">
    	<br>
    	<table style=" width:600px">
    	 	<tr style=" width:600px">
                <td style="color:white; width:150px">Add New Friend: </td>
                <td style="width:150px"><input type="text" id="searchfName" name="searchfName" ng-model="searchfName" placeholder="First Name"></td>
                 <td style="width:150px"><input type="text" id="searchlName" name="searchlName" ng-model="searchlName" placeholder="Last Name"></td>
                <td><button ng-click="searchFunc(searchfName, searchlName)">Search</button></td>
            </tr>

    	</table>


    <br>
    </div>


    <div style="overflow-y: scroll; height:200px; width:800px; background-color:gray" ng-show="searched" ng-hide="isAdmin">
        <h3 style="color:white" ng-show="searched">Search Result:</h3>
        <ol style="list-style-type: none; width:800px">
            <li ng-repeat="res in resList" style="width:500px; color:white">{{res.ime}} {{res.prezime}} ({{res.email}})
                <span>       </span><button ng-disabled="isDisabled" ng-click="addFriend(res.email)">{{addButton}}</button></li>

        </ol>
    </div>

    <div>
        <br><br>
    </div>

    <div style="overflow-y: scroll; height:200px; width:800px; background-color:gray" ng-hide="isAdmin">
        <h3 style="color:white">Request List:</h3>
        <ol style="list-style-type: none; width:800px">
            <li ng-repeat="req in reqList" style="width:500px; color:white">{{req.ime}} {{req.prezime}} ({{req.email}})
                <span>       </span><button ng-click="declineFriend(req.email)">Decline</button>
                <span>       </span><button ng-click="acceptFriend(req.email)">Accept</button>
            </li>

        </ol>
    </div>


    <div>
        <br><br>
    </div>

    <div style="overflow-y: scroll; height:400px; width:800px; background-color:gray" ng-hide="isAdmin">
        <h3 style="color:white">Friends List:</h3>
    	<ol style="list-style-type: none; width:800px">
    		<li ng-repeat="friend in friendsList" style="width:500px; color:white">{{friend.ime}} {{friend.prezime}} ({{friend.email}})<span>       </span><button ng-click="deleteFriend(friend.email)">Delete</button></li>

    	</ol>
    </div>

    <div>
        <br><br>
    </div>


</div>
