<div>
	  <br>  
    <h3 style="color:white">User Information:</h3><br>
    <form>
        <table>
            <tr>
                <td style="color:white; width:150px">First Name:</td>
                <td><input type="text" id="fname" name="fname" ng-model="fname"></td>
            </tr>
            
            <tr>
                <td style="color:white; width:150px">Last Name:</td>
                <td><input type="text" id="lname" name="lname" ng-model="lname"></td>
            </tr>
            
            <tr>
                <td style="color:white; width:150px">Email:</td>
                <td><input type="text" id="email" name="email" ng-model="email"></td>
            </tr>

			<tr>
                <td style="color:white; width:150px">City:</td>
                <td><input type="text" id="city" name="city" ng-model="city"></td>
            </tr>
            
            <tr>
                <td style="color:white; width:150px">Phone Number:</td>
                <td><input type="text" id="phone" name="phone" ng-model="phone"></td>
            </tr>
            <br>
            <tr>
                <td style="color:white; width:150px">Change Password:</td>
                <td><input type="password" id="pass" name="pass" ng-model="pass"></td>
            </tr>

			<tr>
                <td style="color:white; width:150px">Confirm Password:</td>
                <td><input type="password" id="pass2" name="pass2" ng-model="pass2"></td>
            </tr>
            
            <tr>
            	<td></td>
                <td style="width:150px; text-align:center"><button ng-click="indexFunc()">Back</button>
               <button ng-click="saveFunc(fname, lname, email, city, phone, pass, pass2)">Save</button></td>
            </tr>
            

        </table>
        
    </form>
    <br>
    <h3 style="color:white">Friends:</h3><br>
    
    <div>
    	<br>
    	<table>
    	 	<tr>
                <td style="color:white">Add New Friend: </td>
                <td style="width:150px"><input type="text" id="searchName" name="searchName" ng-model="searchName"></td>
                <td><button ng-click="indexFunc()">Search</button></td>
            </tr>
    		
    	</table>
    	

    <br>
    </div>
    
    <div style="overflow-y: scroll; height:400px; width:600px">
    	<ol style="list-style-type: none; width:600px">
    		<li ng-repeat="user in friendsList" style="width:500px; color:white">{{user.ime}} {{user.prezime}} ({{user.email}})<span>       </span><button>Delete</button></li>
							
    	</ol>
    </div>

	 
    
    
</div>
