<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<display-name>ISA</display-name>
<welcome-file-list>
   		<welcome-file>index.html</welcome-file>
   </welcome-file-list>
 
 <servlet>
         <servlet-name>Rest</servlet-name>
         <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
      <!--  <init-param>
         	<param-name>com.sun.jersey.config.property.packages</param-name>
         	<param-value>rest</param-value>
         </init-param>-->  
          <init-param>
        <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
        <param-value>true</param-value>
    </init-param> 
    <init-param>
        <param-name>jersey.config.server.provider.classnames</param-name>
        <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
    </init-param>
         <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
         <servlet-name>Rest</servlet-name>
         <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
         <servlet-name>Rest</servlet-name>
         <url-pattern>/getData/*</url-pattern>
    </servlet-mapping>
</web-app>