<style>
    p, h2, span{
        color:white;
        }
</style>

<div>
    <div>
        <h2><a>{{pb.naziv}}</a></h2>

        <p>Description: {{pb.opis}}</p>

        <p>Rate: {{pb.prosecnaOcena}}</p>

        <a class="pointerQuick" ng-click="go(pb.id)" >Quick reservations</a>

        <p> Address: {{pb.adresa}}</p>

        <iframe ng-src="{{trustSrc(pb.urlMape)}}"
                width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <br>
    <div>
        <form>
            <span>Choose Date:</span>
            <input type="date" name="date" id="projDate" ng-model="date" min="currentDate">
            <input type="submit" ng-click="odabranDatum()">
        </form>
    </div>

    <div>
        <h2><a>Program ({{filteredProj.length}}):</a></h2>
        <div style="overflow-y: scroll; height:600px;  background-color:gray">
            <span ng-repeat="proj in filteredProj track by $index">
               <p>Name:  <a>"{{proj.dogadjaj.naziv}}"</a></p>
                <img ng-src="/download/{{proj.dogadjaj.slika}}" style="width:100%; max-width:100px;">
                <p>Date: {{proj.vreme  | date:'dd.MM.yyyy'}}, Time: {{proj.vreme  | date:'HH:mm'}}, Length: {{proj.dogadjaj.trajanje}} min. </p>
                <p>Auditorium: {{proj.sala.ime}}</p>
                <p>Price: {{proj.cena}},00 RSD</p>
                <button ng-click="otvoriProj(proj.id)">Details</button><span>    </span><button ng-click="rezervisi(proj.id)">Reservation</button>
                <br><br><br>
            </span>
            <br>
        </div>
    </div>
</div>



</div>